<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-6 col-lg-5">
    <div class="p-5 shadow-lg rounded-4" style="background: #ffffff;">
      <div class="text-center mb-4">
        <i class="fa-solid fa-right-to-bracket fa-2x mb-3 text-primary"></i>
        <h2 class="fw-bold">Iniciar Sesión</h2>
        <p class="text-muted">Ingrese sus credenciales para continuar</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="correo" class="form-label fw-semibold">Correo Electrónico</label>
          <input type="email" formControlName="correo" class="form-control form-control-lg" id="correo" placeholder="ejemplo@correo.com" autocomplete="email">
        </div>

        <!-- Campo de contraseña con ojito -->
        <div class="mb-3 position-relative">
          <label for="password" class="form-label fw-semibold">Contraseña</label>
          <input 
            [type]="mostrarPassword ? 'text' : 'password'" 
            formControlName="password" 
            class="form-control form-control-lg pr-5" 
            id="password" 
            placeholder="*********">
          
          <!-- Ícono del ojito -->
          <i 
            class="fa-solid"
            [ngClass]="mostrarPassword ? 'fa-eye-slash' : 'fa-eye'" 
            (click)="mostrarPassword = !mostrarPassword"
            style="position: absolute; top: 60%; right: 20px; transform: translateY(-50%); cursor: pointer; color: #6c757d;">
          </i>
          
        </div>

        <button type="submit" 
                class="btn btn-primary btn-lg w-100"
                [disabled]="loginForm.invalid">
          Ingresar
        </button>
      </form>

      <div class="text-center mt-4">
        <p class="mb-1">¿Olvidó su contraseña?
          <a routerLink="/recuperar-cuenta" class="text-decoration-none text-primary fw-semibold">Recuperar</a>
        </p>
        <p>¿No tiene cuenta?
          <a routerLink="/registro" class="text-decoration-none text-primary fw-semibold">Registrarse</a>
        </p>
      </div>
    </div>
  </div>


  
</div>
