<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-left: 20px; padding-right: 20px">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <i class="fa-solid fa-bullhorn fs-3"></i>
      <span class="fs-4 ms-3 me-3">{{ title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        @if (this.isLogged) {

          @if (this.isLoggedAdministrador){

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="categoria">
              Gestionar Categorias</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="reporte-cambiar-estado-administrador">
              Gestionar Reportes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="generar-reportes">
              Generar Reportes PDF</a>
          </li>
          
          } @if (this.isLoggedCliente) {

          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#" (click)="activarNotificaciones()">
              Activar Notificaciones</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Notificaciones
            </a>
            <ul class="bg-dark text-white dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <button type="button" (click)="activarNotificaciones()" class="btn btn-secondary">
                  Activar
                </button>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <button type="button" (click)="desactivarNotificaciones()" class="btn btn-warning">
                  Desactivar
                </button>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/reportes">
              Gestionar Reporte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="cuenta">
              Gestionar Cuenta</a>
          </li>

          }  
        }@else {

        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="cuenta">
            Gestionar Cuenta</a>
        </li> -->
        }

      </ul>

      @if (!isLogged) {
      <div class="col-md-3 text-end">
        <button type="button" routerLink="/login" class="btn btn-outline-light me-2">
          Login
        </button>
        <button type="button" routerLink="/registro" class="btn btn-primary">
          Registro
        </button>
      </div>
      } @else {
      <label style="color: white">Bienvenido {{ nombre }}</label>
      <button type="button" (click)="logout()" class="btn btn-danger">
        Logout
      </button>
      }
    </div>
  </div>
</nav>